* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 12px;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* Header */
.header {
    position: relative;
    background-color: #e6f0ff;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .action {
    margin-left: auto;
}

.navbar ul a {
    padding: 8px 14px;
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar .btn-action {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero {
    width: 51%;
}

.hero .sub-title {
    margin-top: 130px;
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.018rem;
}

.hero .title {
    margin-top: 8px;
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.18;
}

.hero .desc {
    margin-top: 30px;
    color: #5a6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}

.hero-cta {
    margin-top: 40px;
    min-width: 170px;
}

.hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* Clients */
.clients {
    margin-top: 79px;
    padding: 43px 0 41px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .desc {
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25;
}

.clients .row-images {
    margin-top: 70px;
}

/* Guides */
.guides {
    margin-top: 11px;
    padding: 89px 0 79px;
    text-align: center;
}

.guides .sub-title {
    position: relative;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}

.guides .sub-title::before {
    position: absolute;
    top: -10px;
    right: 50%;
    transform: translateX(50%);

    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.guides .desc {
    margin: 20px auto 0;
    width: 459px;
    max-width: 100%;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

.list-guides {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.item-guides .title {
    margin: 26px 70px 0;
    color: #3b3c45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
}

.item-guides .link {
    display: inline-block;
    margin-top: 10px;
    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
}

.item-guides .arrow {
    margin-left: 6px;
}

.guides-cta {
    margin-top: 50px;
    min-width: 170px;
}

/* Featured */
.featured {
    margin-top: 41px;
    padding: 110px 0;
    background: #f5fafe;
}

.featured .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}

.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.featured .desc {
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

.featured .link {
    display: flex;
    align-items: center;
    color: #0689ff;
    font-size: 1.8rem;
    font-weight: 600;
}

.featured .link .arrow {
    margin-left: 8px;
}

.featured .list {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}

.featured .item {
    flex: 1;
    border-radius: 12px;
}

.featured .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .body {
    padding: 17px 20px 23px;
    background: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.featured .title {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}

.featured .desc {
    margin-top: 11px;
    color: #a3a6ab;
    font-size: 1.4rem;
    font-weight: 500;
    word-break: break-all;
}

.featured .info {
    display: flex;
    align-items: center;
    margin-top: 22px;
    color: #4d4d52;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.14px;
}

.featured .icon {
    margin-right: 8px;
    margin-left: 23px;
}

.featured .icon:first-child {
    margin-left: 0;
}

/* Stats */
.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1017px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .img-block .images {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    padding: 45px 23px 44px 22px;
    background: #fff;
    border-radius: 0 0 12px 12px;
}

.stats-trend .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.26px;
}

.stats-trend .icon {
    margin-left: auto;
}

.stats-trend .desc {
    margin-top: 8px;
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.stats-trend .separate {
    margin-top: 26px;
    height: 1.2px;
    background: #e9e9e9;
}

.stats-trend .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
    margin-top: 25px;
}

.stats-trend .avatar-group {
    display: flex;
}

.stats-trend .avatar:first-child {
    margin-left: 0;
}

.stats-trend .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color, #1f3bb1);
    color: #fff;
    font-size: 0.7rem;
    margin-left: -3px;
    width: 16.337px;
    height: 16.337px;
    border-radius: 16.337px;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .sub-title {
    position: relative;
    width: 269px;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.27571;
}

.stats .sub-title::before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: 0;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats .info .desc {
    width: 309px;
    margin-top: 20px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}

.row-qty {
    justify-content: space-between;
    margin-top: 110px;
    padding: 0 32px;
}

.stats .qty-item .qty {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
}

.stats .qty-item .qty-desc {
    margin-top: 24px;
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
}

/* Subscribe */

.subscribe {
    padding-top: 39px;
    margin-top: 51px;
}

.subscribe .body {
    display: flex;
    position: relative;
    height: 370px;
    border-radius: 20px;
    background: #063183;
}

.subscribe .info {
    width: 510px;
    margin: 110px 90px 0 80px;
}

.subscribe .sub-title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5;
}

.subscribe .desc {
    margin-top: 15px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

.subscribe .btn {
    margin-top: 20px;
    background: #fff;
    color: #002366;
    font-size: 1.3rem;
    font-weight: 500;
}

.subscribe .images {
    position: absolute;
    bottom: 0;
    right: 221px;
}
/* Footer */
.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row-top {
    display: flex;
    gap: 0 185px;
}

.footer .heading {
    color: #1c1c1d;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 700;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a,
.footer .desc {
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}

.footer .desc {
    white-space: normal;
    color: #7a7a7e;
    line-height: 1.75; /* 175% */
}

.footer .socials {
    display: flex;
    margin-top: 40px;
}

.footer .socials .icon {
    padding: 9px;
    margin-right: 11px;
    background: #f9f9f9;
}

.footer .socials .icon:hover {
    opacity: 0.9;
}

.footer .row-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.footer .copyright {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
}
